<%= form_with(model: event, local: true) do |f| %>
  <div class="field">
    <div class="control">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= f.label :date %>
      <%= f.date_select :date %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= f.label :location %>
      <%= f.text_field :location %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= f.submit "Create Event", class:"button is-primary is-large is-fullwidth" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= link_to 'Cancel', root_path, class:"button is-large is-fullwidth" %>
    </div>
  </div>
<% end %>