<h1>Events#index</h1>

<% @events.future.each do |event| %>
<%= event.name %><br>
<%= event.date %><br>
<%= event.location %><br>
<div>Created By:<%= event.creator.name %></div><br><br><br>
<%if current_user && event.creator != current_user && !event.attendees.include?(current_user)%>
    <%= button_to "Attend the event", create_attending_event_path(:user_id => current_user.id.to_i, :id => event.id.to_i), method: :post %>
<%elsif current_user && event.creator != current_user && event.attendees.include?(current_user)%>
    <div>You have already registered</div>
    <%= button_to "No longer attending", destroy_attending_event_path(user_id: current_user.id, id: event.id), method: :delete, data: {confirm: "Are you sure?" } %>
<%end%>

<%= link_to "event details", event_path(event.id) %>
<br>
<br>
<%end%>
<br>
<br>
<h2>Past Events</h2>
<% @events.past.each do |event|%>
    <%= event.name %>
    <%= event.date %>
    <%= event.location %>
    <p>Created By: <%=event.creator.name%></p>
    <%= link_to "event details", event_path(event.id) %>
    <br>
<%end%>
